* {
    box-sizing: border-box;
}

 div.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
    background: none;
    text-align: center;
}
div{
    font-size: 1.5em;
    padding: 1em;
}

.future{
    background-color: rgb(225,40,79);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

div.broken{
    background-color: aqua;
    grid-row: 3/4;
}
div.cloud{
    background-color: yellow;
    grid-row: 6/7;

}

@media(min-width:565px){
    div.container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 0.5em;
        text-align: center;
        
    }
    
    div.broken{
        grid-column: 1/2;
        grid-row: 2/3;
        
        }
    div.cloud{
        grid-column: 2/3;
        grid-row: 3/4;
    }

}
@media(min-width:900px){
    div.container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0.5em;
        
    }
    
    div.broken{
        grid-column: 3/4;
        grid-row: 1/-1;
        text-align: center;

    }
    div.cloud{
        grid-column: 4/6;
        grid-row: 2/4;
    }
}